/* Jack Saysana */

#dashboard .container {
    border: 1px solid;
    border-radius: .25rem;
    border-color: #edebeb;
    padding: 1rem;
}

#dashboard .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    background-color: #faf9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dashboard .field {
    width: 100%;
    font-size: 1rem;
}

#dashboard .side-title {
    padding-left: 1rem;
}

#dashboard .add-folder-button{
    position: absolute;
    margin-left: 1rem;
    width: 24px;
    height: 24px;
    background: url("../../images/plus-ccc.svg");
}

#dashboard .add-elem-button:hover{
    cursor: pointer;
    background: url("../../images/plus-443ab0.svg");
    transition-duration: .2s;
}

#dashboard .add-folder{
    position: absolute;
    margin-left: calc(1rem + 24px);
    font-family: inherit;
    font-size: 1rem;
    border: none;
    background: none;
    width: calc(100% - 5rem);
}

#dashboard .add-elem:hover {
    border-bottom: 2px solid #ccc;
}

#dashboard .add-elem:focus {
    outline: none;
    border-bottom: 2px solid #443ab0;
    transition-duration: .2s;
}

#dashboard .add-elem:focus + .add-elem-button {
    background: url("../../images/plus-443ab0.svg");
    transition-duration: .2s;
}

#dashboard .side-bar {
    position: fixed;
    width: 17rem;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #edebeb;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .2)
}

#dashboard .folder-select {
    margin-left: calc(1rem + 2px);
    width: 100%;
}

#dashboard .assignment-display {
    margin-left: 19rem;
}

#dashboard .folder {
    width: calc(100% - 4rem);
    background-color: #edebeb;
    padding: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .2)
}

#dashboard .folder h3 {
    margin-top: 0;
    margin-bottom: .5rem;
}

#dashboard .folder ul {
    padding-bottom: 0;
}

#dashboard .assignment-list {
    margin-left: 3px;
    margin-bottom: .5rem;
}



#dashboard .add-assignment {
    position: absolute;
    margin-left: 25px;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    background: none;
    width: calc(100% - 27rem);
}

#dashboard .add-assignment:focus ~ .add-annotations{
    visibility: visible;
    transition-duration: .2s;
}

#dashboard .add-assignment-button {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../../images/plus-ccc.svg");
}

#dashboard .add-annotations {
    visibility: hidden;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background: url("../../images/notes-ccc.svg");
}

#dashboard .add-annotations:hover {
    background: url("../../images/notes-443ab0.svg");
    cursor: pointer;
    transition-duration: .2s;
}

#dashboard .annotations-field {
    display: none;
    padding-bottom: 1rem;
    width: calc(100% + 2rem);
    margin-top: 4rem;
    margin-left: -1rem;
    border-top: 2px solid #ccc;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

#dashboard .close {
    position: absolute;
    background: url("../../images/close-ccc.svg");
    margin-top: .5rem;
    right: 4rem;
    width: 24px;
    height: 24px;
}

#dashboard .close:hover {
    background: url("../../images/close-443ab0.svg");
    cursor: pointer;
    transition-duration: .2s;
}

#dashboard .notes-input {
    font-family: inherit;
    font-size: 1rem;
    resize: none;
    border: 2px solid #ccc;
    border-radius: .25rem;
    width: calc(90% - 22rem - 10px);
    height: 15rem;
    margin-left: 5%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#dashboard .notes-input:focus {
    outline: none;
}

#dashboard .close {
    position: absolute;
}

#dashboard .date-input {
    margin-left: 2rem;
    margin-top: 2.5rem;
}

#dashboard .toggler {
    display: flex;
    margin-bottom: .5rem;
}

#dashboard .toggle-datepicker {
    width: 35px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 1rem;
    transition: .4s;
    cursor: pointer;
}

#dashboard .slider {
    margin-top: 1px;
    margin-left: 1px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #faf9f9;
    transition: .4s;
}

#dashboard .date-picker {
    position: relative;
    width: calc(20rem - 1px);
    border: 2px solid #ccc;
    border-radius: .25rem;
    overflow: hidden;
}

#dashboard .month-display {
    width: 100%;
    background-color: #574ae2;
    transition: .4s;
}

#dashboard .date {
    color: #faf9f9;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    transition: .4s;
}

#dashboard .month-changer {
    display: flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #faf9f9;
    transition: .4s;
}

#dashboard .month {
    text-align: center;
    margin-top: 1px;
    margin-left: 1rem;
}

#dashboard .shifter-buttons {
    position: absolute;
    margin-left: 15rem;
}

#dashboard .back {
    background: url("../../images/left-ccc.svg");
    margin-right: .5rem;
    float: left;
    width: 24px;
    height: 24px;
}

#dashboard .back:hover {
    background: url("../../images/left-443ab0.svg");
    cursor: pointer;
}

#dashboard .forward {
    background: url("../../images/right-ccc.svg");
    margin-left: .5rem;
    float: right;
    width: 24px;
    height: 24px;
}

#dashboard .forward:hover {
    background: url("../../images/right-443ab0.svg");
    cursor: pointer;
}

#dashboard .calendar {
    display: flex;
    flex-wrap: wrap;
    width: calc(20rem - 1px);
}

#dashboard .day {
    width: calc((100% / 7));
    height: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #faf9f9;
    transition: .4s;
}

#dashboard .day:hover > .selector{
    background-color:#574ae2;
    transition-duration: .2s;
    z-index: 2;
}

#dashboard .day:hover > .day-label{
    color: #faf9f9;
    font-weight: bold;
    z-index: 99;
}

#dashboard .selector {
    position: absolute;
    margin-left: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    transition: .4s;
}

#dashboard .day-label {
    position: relative;
    margin-top: 2px;
    margin-left: 3px;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    transition: .4s;
}

#dashboard .disabled .month-display {
    background-color: rgb(161, 161, 161);
}

#dashboard .disabled .date {
    color: #ccc;
}

#dashboard .disabled .month-changer {
    background-color: #ccc;
}

#dashboard .disabled .day {
    background-color: #ccc;
}

#dashboard .disabler {
    position: absolute;
    width: calc(20rem - 1px);
    height: 100%;
    z-index: 1;
}

#dashboard .title-update{
    position: relative;
    display: block;
    max-width: 25%;
}

#dashboard .completed {
    float: left;
    width: .9rem;
    height: .9rem;
    margin-top: 3px;
    border: 2px solid #6254ff;
    border-radius: 1rem;
    transition: .2s;
}

#dashboard .completed:hover {
    background-color: #6254ff;
    cursor: pointer;
}

#dashboard .title {
    background: none;
    border: none;
    outline: none;
    padding-left: 2px;
    padding-right: 4px;
    margin-left: 4px;
    font-size: 1rem;
}

#dashboard .title:hover {
    border-bottom: 2px solid #ccc;
}

#dashboard .title:focus {
    border-bottom: 2px solid #443ab0;
    transition: .2s;
}

#dashboard .assignment-annotations {
    float: right;
    width: 24px;
    height: 24px;
    background: url("../../images/down-ccc.svg");
}

#dashboard .assignment-annotations:hover {
    background: url("../../images/down-443ab0.svg");
}