/* Jack Saysana */

#dashboard .container {
    border: 1px solid;
    border-radius: .25rem;
    border-color: #edebeb;
    padding: 1rem;
}

#dashboard .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    background-color: #faf9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dashboard .field {
    width: 100%;
    font-size: 1rem;
}

#dashboard .side-title {
    padding-left: 1rem;
}

#dashboard .add-folder-button{
    position: absolute;
    margin-left: 1rem;
    width: 24px;
    height: 24px;
    background: url("../../images/plus-ccc.svg");
}

#dashboard .add-elem-button:hover{
    background: url("../../images/plus-443ab0.svg");
    transition-duration: .2s;
}

#dashboard .add-folder{
    position: absolute;
    margin-left: calc(1rem + 24px);
    font-family: inherit;
    font-size: 1rem;
    border: none;
    background: none;
    width: calc(100% - 5rem);
}

#dashboard .add-elem:hover {
    border-bottom: 2px solid #ccc;
}

#dashboard .add-elem:focus {
    outline: none;
    border-bottom: 2px solid #443ab0;
    transition-duration: .2s;
}

#dashboard .add-elem:focus + .add-elem-button {
    background: url("../../images/plus-443ab0.svg");
    transition-duration: .2s;
}

#dashboard .side-bar {
    position: fixed;
    width: 17rem;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #edebeb;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .2)
}

#dashboard .folder-select {
    margin-left: calc(1rem + 2px);
    width: 100%;
}

#dashboard .assignment-display {
    margin-left: 19rem;
}

#dashboard .folder {
    width: calc(100% - 4rem);
    background-color: #edebeb;
    padding: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .2)
}

#dashboard .folder h3 {
    margin-top: 0;
    margin-bottom: .5rem;
}

#dashboard .add-assignment {
    position: absolute;
    margin-left: 25px;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    background: none;
    width: calc(100% - 34rem);
}

#dashboard .add-assignment:focus ~ .annotations{
    visibility: visible;
    transition-duration: .2s;
}

#dashboard .add-assignment-button {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../../images/plus-ccc.svg");
}

#dashboard .blur {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    display: none;
}

#dashboard .annotations {
    margin-right: 1rem;
    visibility: hidden;
}

#dashboard .add-notes {
    float: right;
    margin-left: .25rem;
    width: 24px;
    height: 24px;
    background: url("../../images/notes-ccc.svg");
}

#dashboard .add-notes:hover {
    background: url("../../images/notes-443ab0.svg");
    transition-duration: .2s;
}

#dashboard .add-due {
    float: right;
    margin-left: .25rem;
    width: 24px;
    height: 24px;
    background: url("../../images/due-ccc.svg");
}

#dashboard .add-due:hover {
    background: url("../../images/due-443ab0.svg");
    transition-duration: .2s;
}

#dashboard .add-reocurring {
    float: right;
    margin-left: .25rem;
    width: 24px;
    height: 24px;
    background: url("../../images/reoccuring-ccc.svg");
}

#dashboard .add-reocurring:hover {
    background: url("../../images/reoccuring-443ab0.svg");
    transition-duration: .2s;
}