/* Jack Saysana */

#dashboard .container {
    border: 1px solid;
    border-radius: .25rem;
    border-color: #edebeb;
    padding: 1rem;
}

#dashboard .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    background-color: #faf9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dashboard .field {
    width: 100%;
    font-size: 1rem;
}

#dashboard .side-title {
    padding-left: 1rem;
}

#dashboard .add-folder-button{
    position: absolute;
    margin-left: 1rem;
    width: 24px;
    height: 24px;
    background: url("../../images/plus-ccc.svg");
}

#dashboard .add-folder-button:hover{
    background: url("../../images/plus-443ab0.svg");
    transition-duration: .2s;
}

#dashboard .add-folder{
    position: absolute;
    margin-left: calc(1rem + 24px);
    font-family: inherit;
    font-size: 1rem;
    border: none;
    background: none;
    width: calc(100% - 5rem);
}

#dashboard .add-folder:hover {
    border-bottom: 2px solid #ccc;
}

#dashboard .add-folder:focus {
    outline: none;
    border-bottom: 2px solid #443ab0;
    transition-duration: .2s;
}

#dashboard .add-folder:focus + .add-folder-button {
    background: url("../../images/plus-443ab0.svg");
    transition-duration: .2s;
}

#dashboard .side-bar {
    position: fixed;
    width: 17rem;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #edebeb;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .2)
}

#dashboard .folder-select {
    margin-left: calc(1rem + 2px);
    width: 100%;
}

#dashboard .folder {
    margin-left: calc(15% + 2rem);
}

#dashboard .blur {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    display: none;
}