/*Dason Janda*/
.navbar {
  height: 100%;
  width: 130px;
  background-color: #9333CC;
  display: flex;
  flex-direction: column;
}

.navbar a {
  height: 40px;
  width: 130px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.navbar a:hover{
  background: #594f8d;
}
