/*Dason Janda*/
/*Otto Lutz*/
.navbar {
  font-family: Poppins, sans-serif;
  height: 100%;
  width: 150px;
  background-color: #9333CC;
  display: flex;
  flex-direction: column;
  float: left;
  background-color: #9333CC;
  border-left: 5px solid #65258a;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  
}

.navbar a {
  font-family: Poppins, sans-serif;
  color: #f6e6ff;
  height: 30px;
  width: 150px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 1rem;
  text-decoration: none;
}

.navbar a:hover{
  background: #b93fff;
}
